[submodule "third-party/superpowers"]
	path = third-party/superpowers
	url = https://github.com/obra/superpowers.git
[submodule "third-party/planning-with-files"]
	path = third-party/planning-with-files
	url = https://github.com/OthmanAdi/planning-with-files.git
	branch = master
